.header {
  &__wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (min-width: 767px) {
      flex-direction: row;
    }
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0.5em;

    @media only screen and (min-width: 767px) {
      margin-bottom: 1em;

      .language-switcher {
        display: none;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    align-items: flex-start;

    .language-switcher {
      display: none;
    }

    @media only screen and (min-width: 767px) {
      align-items: flex-end;

      .language-switcher {
        display: block;
      }
    }
  }

  &__link {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;

    @media only screen and (min-width: 767px) {
      flex-direction: row;
    }
  }

  .lang {
    margin-top: 1rem;
  }
}
