.split-container {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (min-width: 767px) {
        flex-direction: row;
        padding: 1rem 0 3rem;
    }

    .right {
        margin-top: 3rem;

        @media only screen and (min-width: 767px) {
            margin-top: 0;
            width: 65%;
        }

        &--list {
            display: flex;
            flex-direction: column;
        }

        &--tags {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
    }
}