.study {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  @media only screen and (min-width: 767px) {
    display: grid;
    grid-template-columns: 3fr 3fr;
  }

  &__title {
    margin-bottom: 0.2em;

    @media only screen and (min-width: 767px) {
      margin-bottom: 0;
    }
  }

  .wrap {
    display: flex;
    justify-content: space-between;
    opacity: 70%;

    @media only screen and (min-width: 767px) {
      opacity: 100%;
    }
  }

  &__year {
    text-align: end;
  }

  @media (prefers-color-scheme: light) {
    border-bottom: 1px solid #1b191f;
  }

  @media (prefers-color-scheme: dark) {
    border-bottom: 1px solid #fffff9;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
  }
}
