// MONUMENT THIN
@font-face {
  font-family: "Monument Grotesk";
  src: local("ABCMonmuentGrotesk-Thin");
  src: url("../../assets/fonts/ABCMonumentGrotesk-Thin.otf") format("opentype"),
    url("../../assets/fonts/ABCMonumentGrotesk-Thin.woff") format("woff"),
    url("../../assets/fonts/ABCMonumentGrotesk-Thin.woff2") format("woff2");
  font-style: normal;
  font-weight: 100;
}

// MONUMENT THIN ITALIC
@font-face {
  font-family: "Monument Grotesk";
  src: local("ABCMonmuentGrotesk-ThinItalic");
  src: url("../../assets/fonts/ABCMonumentGrotesk-ThinItalic.otf")
      format("opentype"),
    url("../../assets/fonts/ABCMonumentGrotesk-ThinItalic.woff") format("woff"),
    url("../../assets/fonts/ABCMonumentGrotesk-ThinItalic.woff2")
      format("woff2");
  font-style: italic;
  font-weight: 100;
}

// MONUMENT LIGHT
@font-face {
  font-family: "Monument Grotesk";
  src: local("ABCMonmuentGrotesk-Light");
  src: url("../../assets/fonts/ABCMonumentGrotesk-Light.otf") format("opentype"),
    url("../../assets/fonts/ABCMonumentGrotesk-Light.woff") format("woff"),
    url("../../assets/fonts/ABCMonumentGrotesk-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 200;
}

// MONUMENT LIGHT ITALIC
@font-face {
  font-family: "Monument Grotesk";
  src: local("ABCMonmuentGrotesk-LightItalic");
  src: url("../../assets/fonts/ABCMonumentGrotesk-LightItalic.otf")
      format("opentype"),
    url("../../assets/fonts/ABCMonumentGrotesk-LightItalic.woff") format("woff"),
    url("../../assets/fonts/ABCMonumentGrotesk-LightItalic.woff2")
      format("woff2");
  font-style: italic;
  font-weight: 200;
}

// MONUMENT REG
@font-face {
  font-family: "Monument Grotesk";
  src: local("ABCMonmuentGrotesk-Regular");
  src: url("../../assets/fonts/ABCMonumentGrotesk-Regular.otf")
      format("opentype"),
    url("../../assets/fonts/ABCMonumentGrotesk-Regular.woff") format("woff"),
    url("../../assets/fonts/ABCMonumentGrotesk-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

// MONUMENT REG ITALIC
@font-face {
  font-family: "Monument Grotesk";
  src: local("ABCMonmuentGrotesk-RegularItalic");
  src: url("../../assets/fonts/ABCMonumentGrotesk-RegularItalic.otf")
      format("opentype"),
    url("../../assets/fonts/ABCMonumentGrotesk-RegularItalic.woff")
      format("woff"),
    url("../../assets/fonts/ABCMonumentGrotesk-RegularItalic.woff2")
      format("woff2");
  font-style: italic;
  font-weight: 300;
}

// MONUMENT MEDIUM
@font-face {
  font-family: "Monument Grotesk";
  src: local("ABCMonmuentGrotesk-Medium");
  src: url("../../assets/fonts/ABCMonumentGrotesk-Medium.otf")
      format("opentype"),
    url("../../assets/fonts/ABCMonumentGrotesk-Medium.woff") format("woff"),
    url("../../assets/fonts/ABCMonumentGrotesk-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

// MONUMENT MEDIUM ITALIC
@font-face {
  font-family: "Monument Grotesk";
  src: local("ABCMonmuentGrotesk-MediumItalic");
  src: url("../../assets/fonts/ABCMonumentGrotesk-MediumItalic.otf")
      format("opentype"),
    url("../../assets/fonts/ABCMonumentGrotesk-MediumItalic.woff")
      format("woff"),
    url("../../assets/fonts/ABCMonumentGrotesk-MediumItalic.woff2")
      format("woff2");
  font-style: italic;
  font-weight: 400;
}

// MONUMENT BOLD
@font-face {
  font-family: "Monument Grotesk";
  src: local("ABCMonmuentGrotesk-Bold");
  src: url("../../assets/fonts/ABCMonumentGrotesk-Bold.otf") format("opentype"),
    url("../../assets/fonts/ABCMonumentGrotesk-Bold.woff") format("woff"),
    url("../../assets/fonts/ABCMonumentGrotesk-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

// MONUMENT BOLD ITALIC
@font-face {
  font-family: "Monument Grotesk";
  src: local("ABCMonmuentGrotesk-BoldItalic");
  src: url("../../assets/fonts/ABCMonumentGrotesk-BoldItalic.otf")
      format("opentype"),
    url("../../assets/fonts/ABCMonumentGrotesk-BoldItalic.woff") format("woff"),
    url("../../assets/fonts/ABCMonumentGrotesk-BoldItalic.woff2")
      format("woff2");
  font-style: italic;
  font-weight: 500;
}

// MONUMENT HEAVY
@font-face {
  font-family: "Monument Grotesk";
  src: local("ABCMonmuentGrotesk-Heavy");
  src: url("../../assets/fonts/ABCMonumentGrotesk-Heavy.otf") format("opentype"),
    url("../../assets/fonts/ABCMonumentGrotesk-Heavy.woff") format("woff"),
    url("../../assets/fonts/ABCMonumentGrotesk-Heavy.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

// MONUMENT HEAVY ITALIC
@font-face {
  font-family: "Monument Grotesk";
  src: local("ABCMonmuentGrotesk-HeavyItalic");
  src: url("../../assets/fonts/ABCMonumentGrotesk-HeavyItalic.otf")
      format("opentype"),
    url("../../assets/fonts/ABCMonumentGrotesk-HeavyItalic.woff") format("woff"),
    url("../../assets/fonts/ABCMonumentGrotesk-HeavyItalic.woff2")
      format("woff2");
  font-style: italic;
  font-weight: 600;
}

// MONUMENT BLACK
@font-face {
  font-family: "Monument Grotesk";
  src: local("ABCMonmuentGrotesk-Black");
  src: url("../../assets/fonts/ABCMonumentGrotesk-Black.otf") format("opentype"),
    url("../../assets/fonts/ABCMonumentGrotesk-Black.woff") format("woff"),
    url("../../assets/fonts/ABCMonumentGrotesk-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

// MONUMENT BLACK ITALIC
@font-face {
  font-family: "Monument Grotesk";
  src: local("ABCMonmuentGrotesk-BlackItalic");
  src: url("../../assets/fonts/ABCMonumentGrotesk-BlackItalic.otf")
      format("opentype"),
    url("../../assets/fonts/ABCMonumentGrotesk-BlackItalic.woff") format("woff"),
    url("../../assets/fonts/ABCMonumentGrotesk-BlackItalic.woff2")
      format("woff2");
  font-style: italic;
  font-weight: 700;
}

// MONUMENT ULTRA
@font-face {
  font-family: "Monument Grotesk";
  src: local("ABCMonmuentGrotesk-Ultra");
  src: url("../../assets/fonts/ABCMonumentGrotesk-Ultra.otf") format("opentype"),
    url("../../assets/fonts/ABCMonumentGrotesk-Ultra.woff") format("woff"),
    url("../../assets/fonts/ABCMonumentGrotesk-Ultra.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
}

// MONUMENT ULTRA ITALIC
@font-face {
  font-family: "Monument Grotesk";
  src: local("ABCMonmuentGrotesk-UltraItalic");
  src: url("../../assets/fonts/ABCMonumentGrotesk-UltraItalic.otf")
      format("opentype"),
    url("../../assets/fonts/ABCMonumentGrotesk-UltraItalic.woff") format("woff"),
    url("../../assets/fonts/ABCMonumentGrotesk-UltraItalic.woff2")
      format("woff2");
  font-style: italic;
  font-weight: 800;
}

p {
  font-weight: 400;
  font-size: 2rem;
}

p a {
  font-weight: 400;
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
}

a {
  text-decoration: none;

  @media (prefers-color-scheme: light) {
    &:hover {
      color: blue;
    }
  }

  @media (prefers-color-scheme: dark) {
    &:hover {
      color: red;
    }
  }
}

// General
// -------------------------------------------------------------------------------
p {
  margin: 0;
}

i,
em {
  font-style: italic;
}

del {
  text-decoration: line-through;
}

address {
  font-style: normal;
}

// Headings
// -------------------------------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;

  a {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
  }
}

h1 {
  font-size: 4rem;

  @media only screen and (min-width: 767px) {
    font-size: 4.8rem;
  }
}

h2 {
  font-size: 3.2rem;

  @media screen and (min-width: 767px) {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}
