@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "Inter Bold";
  src: url("../assets/fonts/Inter-Bold.otf");
}

@font-face {
  font-family: "Inter Regular";
  src: url("../assets/fonts/Inter-Medium.otf");
}

p {
  font-weight: 500;
}

p a {
    font-weight: 900;
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
}

a {
  transition: 0.2s ease-in;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  line-height: 2.8rem;
  overflow-x: hidden;
  margin: 0;
}

* {
  box-sizing: border-box;
}


hr {
  border: 0;
  display: block;
  height: 2px;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  .project {
    border: 1px solid #fffff9;
    flex-direction: column;
    height: calc(100vw - 6rem);
    padding: 4rem;
    transition: 0.2s ease-in;
  }

  .project:hover {
    color: blue;
    transition: 0.2s ease-in;
  }

  ::selection {
    background-color: transparent;
    color: blue;
  }

  a:hover {
    color: blue;
    transition: 0.2s ease-in;
  }
}

@media (prefers-color-scheme: light) {
  .project {
    border: 1px solid #1b191f;
    flex-direction: column;
    height: calc(100vw - 6rem);
    padding: 4rem;
    transition: 0.2s ease-in;
  }

  .project:hover {
    color: red;
    transition: 0.2s ease-in;
  }

  ::selection {
    background-color: transparent;
    color: red;
  }

  a:hover {
    color: red;
    transition: 0.2s ease-in;
  }
}

.project-text {
  flex-direction: column;
  text-align: center
}

.project-title {
  display: flex;
  align-items: center;
}

.line {
  display: none
}

@media only screen and (min-width: 767px) {

  .project {
    border-left: none;
    border-right: none;
    border-bottom: none;
    flex-direction: row;
    height: auto;
    padding: 0.5rem 1rem;
  }

  .project-text {
    flex-direction: row
  }

  .project-title {
    font-size: 1.5rem
  }

  .line {
    display: block
  }
}